{% extends 'admin/base.html' %}
{% load i18n admin_static suit_tags %}

{% block stylesheet %}
{% static "suit/css/suit.css" %}
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet"  href="{% static '/assets/css/header.css' %}">

{% endblock %}

{% block bodyclass %}{{ block.super|suit_body_class:request }}{% endblock %}

{% block title %}BUILDINGAID Admin{% endblock %}

{% block branding %}
    <h1 id="site-name">
      <a href="/admin" class="logo"><img style='width:210px' src="{% static 'assets/images/logov1.5.png' %}" alt=""></a>
        <a href="/">
                <span style="float: left; color: #90A4AE; 
                font-weight: 500; line-height: 1.2;" class="header-label"></span></a>
    </h1>
{% endblock %}

{% block pretitle %}
<div class="content-wrap">

{% endblock %}

{% block sidebar %}
    </div> <!-- Close content-wrap -->
{% endblock %}

{% block usertools %}
    {% if has_permission %}

        <div id="user-tools" class="suit-user-tools">

            {% block welcome-msg %}
                <span class="welcome" style="color:#ffffff; 
                font-weight: 500; line-height: 1.2;">
                  Hola {{user.username}}  /
            </span>

            {% endblock %}
            <div class="user-links">
            {% block userlinks %}
                {% if site_url %}


                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}" class="icon-link documentation-link" data-title="{% trans 'Documentation' %}">{% trans 'Documentation' %}</a>
                        <span class="separator">/</span>
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}


                {% endif %}
                <a href="{% url 'admin:logout' %}"data-title="{% trans 'Log out' %}"><img style='width:10px' src="{% static 'assets/images/salir.svg' %}" alt="">{% trans 'Log out' %}</a>
            {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block nav-global %}
        <style>
            
        </style>
    {% include 'suit/menu.html' %}

{% endblock %}

{% block footer %}
{#    </div> <!-- Put footer outside #container -->#}
    {% if not is_popup %}
        <div id="footer" >
        <footer class="footer" >
            <div class="container-fluid">
                {% block footer_content %}

                    <div class="row">



                        <div class="col-xs-12 col-sm-2 footer-links">
                            {% block footer_links %}


                            {% endblock %}
                        </div>



                        <div class="col-xs-12 col-sm-6 text-sm-center footer-copyright" style=" 
                        font-weight: 500; line-height: 1.2; ">

                            {% block copyright %}
                              <br>
                                HACKATHON MONTERIA
                                <br>
                                © POWERED BY  <a href="https://secbi.co/">TWT</a> 2019.
                            {% endblock %}
                        </div>

                        <div class="col-xs-12 col-sm-3 text-sm-right footer-version">

                        </div>

                    </div>
                {% endblock %}
            </div>
        </footer>
    {% endif %}

{#    {{ block.super }}#}
    <script src="{% static 'suit/js/suit.js' %}"></script>
    {% if cl.formset or action_form and 'toggle_changelist_top_actions'|suit_conf:request %}
        <script type="text/javascript">
            Suit.ListActionsToggle.init();
        </script>
    {% elif adminform %}
        <script type="text/javascript">
            Suit.$("#{{ opts.model_name }}_form").suitFormDebounce();
            {% if 'form_submit_on_right'|suit_conf:request %}
                Suit.FixedBar.init();
            {% endif %}
            {% if adminform.model_admin.suit_form_tabs %}
                Suit.$(function () {
                    Suit.$('#suit_form_tabs').suitFormTabs();
                });
            {% endif %}
{#            {% if 'layout'|suit_conf:request.current_app == 'vertical' %}#}
{#                Suit.$('#content').prepend(Suit.$('.breadcrumbs'));#}
{#            {% endif %}#}
        </script>
    {% endif %}

{#    <div> <!-- Fix/close div previously closed by footer -->#}
{% endblock %}