{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}

<style media="screen">
.content-block{
  padding: 0;
}
.main-icon{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: inline-block;
}
.main-icon svg{
  margin-top:20px;
}
.main-item p{
  color:black;
  font-size: 16px;
  margin-top: 1em;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-top: 50px;
}
.main {
  text-align: center;
}
.main .main-item {
  display: inline-block;
  margin: 4.5em;
}
.main-item:hover {
  text-decoration: none;
}
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<div  class="col-md-12 config-col">

</di>
<div  class="col-md-12 config-col">
<ul class="nav nav-tabs" id="configTab"><br>
</ul>
<div class="panel panel-default" style="
font-weight: 500; line-height: 1.2;">
  <div style="text-align:center" class="panel-body">
    <br>
      <h3 style="color:rgb(13, 13, 14); font-size:20px;">Bienvenido la plataforma de administración, gestión  y control de constructoras</h3>
    <br>
    <div class="main">
      <a href="/admin/Prestamo/acceso" class="main-item">
        <img src="{% static '/assets/images/key.png' %}" alt="" style="width:100px;">
        <p>
          Acceso<br>  
        </p>
      </a>
      <a href="/admin/peoples/trabajador/" class=" main-item">
        <img src="{% static '/assets/images/eval.png' %}" alt="" style="width:100px;">
        <p>
          Monitoreo <br>
        </p>
      </a>
      <a href="/admin/projects/proyecto/" class=" main-item">
        <img src="{% static '/assets/images/medicion.png' %}" alt="" style="width:100px;">
        <p>
          Proyectos<br> 
        </p>
      </a>
      <a href="/admin/ratings/calificacion/" class="main-item">
          <img src="{% static '/assets/images/califi.png' %}" alt="" style="width:100px;">
      <p>
        Calificación<br> 
      </p>
    </a>
    </div>
  </div>
</div>
</div>

{% else %}
<div  class="col-md-12 config-col">
<ul class="nav nav-tabs" id="configTab"><br>
</ul>
<div  class="panel panel-default">
  <div style="text-align:center" class="panel-body">
    <br>
    <h3 >Bienvenido la plataforma de administración, gestión  y control de constructoras</h3>
    <br>
    <!-- <div class=" main">
        <a href="/admin/Prestamo/Prestar/" class="main-item">
          <img src="{% static '/assets/images/libro.svg' %}" alt="" style="width:100px;">
          <p>
            Prestar <br> Libros
        </div> -->
      </a>
  </div>
  </div>
</div>
</div>


{% endif %}

{% endblock %}

{% block sidebar %}
<div id="content-related">

</div>
{% endblock %}
